{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup"],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}
