/* CSS Variables ****************************************************** */
:root {
  --blue: #1fadee;
  --blueBlack: rgb(3, 15, 37);
  --blueGreen: #0ea181;
  --blueGreenLight: #b0f0e2;
  --green: #06b130;
  --greenLight: #00ff55;
  --grey: #afabab;
  --orange: #e4c126;
  --pink: #f80d83;
  --pinkLight: #fdceea;
  --purple: #853399;
  --violet: #d135f8;
  --white: #ffffff;
}

body {
  background-color: var(--greenLight);
}

h1 {
color: var(--purple);
}

h2 {
  color: var(--violet);
}

img {
  max-width: 100px;
  border: 0.1em solid var(--blue);
  border-radius: 50px;
}

.imgDaddyDance,
.imgFreddieCat {
  max-width: 50px;
}

ul {
  list-style: none;
}

i {
  color: var(--blue);
}