<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <p> The drink special today: {{ drink }} </p>
  </body>
</html>