<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Tom's Two-up Two-down | {% block page_title %} {% endblock %}
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script defer type="module" src="bundle.js"></script>
  </head>
  <body>
    <div id="layout">
      {% include "partials/_header.njk" %}
      {% include "partials/_asideMe.njk" %}
      {% block main %} 
      {% endblock %} 
      {% include "partials/_asideExtra.njk" %}
      {% include "partials/_footer.njk" %}
    </div>
  </body>
</html>
