<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Tom's Two-up Two-down | {% block page_title %} {% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<script defer type="text/javascript" src="/assets/js/script.js"></script>
	</head>
	<body>
		<div id="layout">
		{% include "partials/_header.njk" %}
		{% include "partials/_asideMe.njk" %}
		{% block main %} {% endblock %}
		{% include "partials/_asideExtra.njk" %}
		{% include "partials/_footer.njk" %}
		</div>
	</body>
</html>
