{% extends "layouts/base.njk" %} {% block page_title %}{{ title }}{% endblock %}
{% block main %}
<main class="postMain">
  <h2 class="pageTeaser">Letterbox</h2>

  <article class="postLong">
    <h3 class="postTitle">
      <a href={{ page.filePathStem }}>{{ title }}</a>
    </h3>

    {{ content | safe }}
    
    <ul class="postDataLong postData">
      <li><a href="/">Back</a></li>
      {# How do I make the date work better? #}
      <li><time datetime="{{ page.date.toString() }}">Date</time></li>
    </ul>
  </article>

  {#
  <li>{{ page.url }}</li>
  #} {#
  <li>{{ page.fileSlug }}</li>
  #} {#
  <li>{{ page.inputPath }}</li>
  #}
</main>
{% endblock %}
