/*> CSS Variables */
:root {
  --blue: #0060fa;
  --blueWhite: #f4fafd;
  --blueBright: #0485fd;
  --blueDark: #1b4183;
  --blueBlack: #091c3b;
  --green: #06b130;
  --greenWhite: #f6faf9;
  --greenBright: #00ff55;
  --greenDark: #0b725c;
  --pink: #f80d83;
  --pinkWhite: #fcf9fb;
  --pinkLight: #eb7cbe;
  --violet: #d135f8;
  --purple: #853399;
  --greyLight: #e8eaee;
  --grey: #868b94;
  --greyDark: #565963;
  --white: #fff;
}

/*> Reset */
* {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

/*> Elements */

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.25em;
}

body {
  background-color: var(--white);
}

h1 {
  color: var(--greenDark);
  font-size: 1.5em;
  padding: 0 0.25em;
}

h2 {
  color: var(--pink);
  font-size: 1.25em;
  padding: 0 0.3em;
}

h3 {
  color: var(--greyDark);
  font-size: 1em;
  padding: 0 0.35em;
}

h4 {
  color: var(--grey);
  font-size: 1em;
  padding: 0 0.35em;
}

h5 {
  color: var(--blueDark);
  font-size: 1em;
  padding: 0 0.5em;
}

h6 {
  color: var(--blueBlack);
  font-size: 1em;
  padding: 0 0.5em;
}

p {
  max-width: 40em;
  color: var(--blueDark);
  font-size: 1em;
  background: var(--blueWhite);
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
}

img {
  border: 0.1em solid var(--blueBright);
}

ul {
  list-style: none;
}

li {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.9em;
  padding: 0 0.25em;
}

hr {
  border: 0.1em solid var(--pink);
  margin: 1em;
}

blockquote {
  margin: 0.5em 1em;
}

@media screen and (min-width: 21em) {
  li {
    font-size: 1em;
  }
}

@media screen and (min-width: 40em) {
  * {
    line-height: 1.4;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3,
  .postLong h4,
  p {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 45em) {
  h1 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 60em) {
  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3,
  .postLong h4,
  p {
    font-size: 1.5em;
  }

  h4,
  li {
    font-size: 1.25em;
  }
}

/*> lvfha */
a:link,
a:visited {
  color: var(--blueBright);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--green);
  text-decoration: underline;
}

a:active {
  color: var(--pink);
  text-decoration: underline;
}

/*> Layout */
#layout {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 40em) {
  #layout {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      'header header header'
      'asideMe main asideExtra'
      'footer footer footer';
  }
}

/*> Header */
header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 50em;
  margin-bottom: 1em;
}

.headerLinks {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 0.5em;
}

/*> Asides */
aside {
  margin-bottom: 0.5em;
}

.asideMe {
  grid-area: asideMe;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imgDaddyO {
  max-width: 5em;
  max-height: 5em;
  border-radius: 50%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.myName,
.myJob,
.myLocation {
  text-align: center;
}

.myName {
  color: var(--greenDark);
}

.imgTwoUpDoorAsideMe {
  display: none;
}

.asideExtra {
  grid-area: asideExtra;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgTwoUpDoorAsideExtra {
  max-width: 3em;
  max-height: 3em;
  border: none;
}

@media screen and (min-width: 25em) {
  .asideExtra {
    margin: 0;
  }

  .imgTwoUpDoorAsideExtra {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .asideMe {
    flex-direction: column;
    justify-content: flex-start;
  }

  .imgDaddyO {
    max-width: 7em;
    max-height: 7em;
  }

  .aboutMe {
    align-items: center;
  }

  .imgTwoUpDoorAsideMe {
    display: block;
    max-width: 7em;
    max-height: 7em;
    border: none;
    margin-top: 3em;
  }
}

@media screen and (min-width: 60em) {
  .imgDaddyO,
  .imgTwoUpDoorAsideMe {
    max-width: 10em;
    max-height: 10em;
  }
}

/*> Main all pages */
main {
  grid-area: main;
  max-width: 50em;
  padding: 0 1em;
  margin-bottom: 1em;
}

.pageTeaser {
  margin-bottom: 1em;
}

/*> Main post.njk layout above <article> */
.letterboxLid {
  display: flex;
  justify-content: baseline;
  align-content: baseline;
  align-items: baseline;
}

.postType {
  display: flex;
}

/*> Main all <article class="postAll"> containing a short or long post */
.postAll {
  display: flex;
  flex-direction: column;
  background: var(--blueWhite);
}

.postTitle a:link,
.postTitle a:visited {
  color: var(--greyDark);
}

.postTitle a:focus,
.postTitle a:hover {
  color: var(--grey);
}

.postTitle a:active {
  color: var(--pink);
}

.postAll blockquote p {
  background-color: var(--greyLight);
}

.postAll img {
  border: none;
}

.postAll ul {
  list-style: disc inside;
  margin-left: 1em;
}

.postAll ol {
  list-style-position: inside;
  margin-left: 1em;
}

.postAll li {
  font-weight: normal;
  color: var(--blueDark);
}

.postAll table {
  /* table-layout: fixed; */
  /* width: 100%; */
  align-self: center;
  color: var(--blueBlack);
  font-size: 0.7em;
  border: 0.2em solid var(--purple);
  padding: 0.5em;
  margin: 0.5em;
}

.postAll table th:nth-child(1),
.postAll table th:nth-child(2),
.postAll table th:nth-child(3) {
  width: 20%;
}

.postAll table th:nth-child(4) {
  width: 40%;
}

@media screen and (min-width: 25em) {
  .postAll table {
    font-size: 1em;
    border-width: 0.3em;
    padding: 0.5em;
    margin: 0.5em;
  }
}

.postAll .postData {
  margin-left: 0;
}

.postData li {
  list-style: none;
  color: var(--grey);
}

.postDataLong {
  display: flex;
}

.postDataShort {
  display: flex;
  max-width: 40em;
  margin-bottom: 1em;
}

.postMore,
.postBack {
  font-size: 1em;
  background-color: none;
  margin: 0 1em 0 auto;
}

/*> Footer */
footer {
  margin-bottom: 1em;
}

.imgTwoUpDoorFooter {
  display: none;
}

.footerNav {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 25em) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .imgTwoUpDoorFooter {
    display: block;
    max-width: 5em;
    max-height: 5em;
    border: none;
  }
}

@media screen and (min-width: 40em) {
  footer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    max-width: 50em;
  }

  .imgTwoUpDoorFooter {
    display: none;
  }
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.footerContacts {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.footerContacts li a:link,
.footerContacts li a:visited {
  color: var(--blue);
}

.footerContacts li a:focus,
.footerContacts li a:hover {
  color: var(--green);
  text-decoration: underline;
}

.footerContacts li a:active {
  color: var(--pink);
  text-decoration: underline;
}

.footerAdverts {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.advert a:link,
.advert a:visited {
  color: var(--greenDark);
}

.advert a:focus,
.advert a:hover {
  color: var(--green);
  text-decoration: underline;
}

.advert a:active {
  color: var(--pink);
  text-decoration: underline;
}

#activePage {
  background-color: var(--pinkWhite);
  border-bottom: 0.2em solid var(--pink);
}

/*> Label: Better Comments Key (Add > style to VS Code settings.json) */
/*! Warning: A Palantir is a dangerous tool, Saruman. */
/*? Question: Why? Why should we fear to use it? */
/** Highlight: They are not all accounted for, the lost Seeing Stones. */
/*// Strike - Friendship with Saruman is not lightly thrown aside! */
/* todo: Leap off the Tower of Orthanc onto a giant eagle */
