/* CSS Variables ****************************************************** */
:root {
	--blue: #1fadee;
	--blueDark: #1b4183;
	--blueBright: #1063e9;
	--blueBlack: #091c3b;
	--greenLight: #b0f0e2;
	--greenBright: #00ff55;
	--green: #06b130;
	--greenDark: #0b725c;
	--orange: #e4c126;
	--pinkLight: #fdceea;
	--pink: #f80d83;
	--violet: #d135f8;
	--purple: #853399;
	--grey: #afabab;
}

/* Reset */
* {
	padding: 0;
	margin: 0;
}

/* Elements */
body {
	background-color: #fff;
}

h1 {
	color: var(--greenDark);
}

h2 {
	color: var(--green);
	margin-bottom: 0.25em;
}

h3 {
	color: var(--pink);
}

p {
	color: var(--blueDark);
	margin-bottom: 1em;
}

img {
	border: 0.1em solid var(--blue);
	border-radius: 50%;
}

ul {
	list-style: none;
}

li {
	color: var(--blueBright);
}

/* lvfha */
/* a, button, input, select, textarea, label, summary {
		touch-action: manipulation;
	} */

a {
	text-decoration: none;
	color: var(--blue);
}
/* 
a:link {
	color: var(--blue);
} */

a:focus,
a:hover {
	color: var(--green);
	text-decoration: underline;
}

a:active {
	color: var(--pink);
	text-decoration: underline;
}

/* Layout */
#layout {
	display: grid;
	grid-template-rows: 100px 400px 100px;
	grid-template-columns: 200px 1fr 200px;
	grid-template-areas:
		'header header header'
		'asideMe main asideExtra'
		'footer footer footer';
}

/* Header */
header {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	align-self: center;
	max-width: 800px;
}

.headerLinks {
	display: flex;
	align-items: baseline;
}

.headerLinks li {
	padding: 0 1em 0 0;
}

/* Asides */
.asideMe {
	grid-area: asideMe;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgDaddyO {
	max-width: 150px;
	max-height: 150px;
}

.myName {
	color: var(--greenDark);
	margin-bottom: 0.1em;
}

.asideExtra {
	grid-area: asideExtra;
}

main {
	grid-area: main;
	max-width: 800px;
}

/* Footer */
footer {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	display: flex;
	align-items: center;
	max-width: 800px;
}

.imgDaddyDance {
	max-width: 75px;
	max-width: 75px;
	margin-right: auto;
}

.footerNav {
	display: flex;
	flex-direction: column;
}

.footerLinks {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footerLinks li {
	padding: 0 1em 0 0;
}

.footerContacts {
	display: flex;
	justify-content: space-around;
}

.footerContacts li a {
	color: var(--blueBright);
}

.footerContacts li a:focus,
.footerContacts li a:hover {
	color: var(--green);
	text-decoration: underline;
}

.footerContacts li a:active {
	color: var(--pink);
	text-decoration: underline;
}
