{% extends "layouts/base.html" %}
{% block page_title %} Attic {% endblock %}
{% block main %}
<main>
	<h2>Mind the cobwebs</h2>

	<p>
		Here's where I put my projects that need to rest. I keep them as they are to
		remind me where I started. They will collect a bit of dust, but I can't
		bring myself to throw them out. They'll probably still be here when the
		movers show up. That is, if we ever sell this old place.
	</p>

	<ul>
		<li>Project 1</li>
		<li>Project 2</li>
		<li>Project 3</li>
		<li>Project 4</li>
		<li>Project 5</li>
		<li>Project 6</li>
		<li>Project 7</li>
		<li>Project 8</li>
	</ul>
</main>
{% endblock %}
