{# {% extends "layouts/base.html" %}
{% block page_title %}Tom's Two-up Two-down: Front Room {% endblock %} 
{% block main %}
<h2>Come on in!</h2>

<p>Would you like something to drink? Tea? Something stronger? My front room is your front room. Make yourself at home. I don't want this to be a one way conversation, so wonder over to the kitchen if you have something to say.</p>

<h2>Here are my latest thoughts</h2>

<ul>
  <li>Post 1</li>
  <li>Post 1</li>
  <li>Post 1</li>
</ul>

{% endblock %} #}



