{% extends "layouts/base.html" %}
{% block page_title %} Kitchen {% endblock %} 
{% block main %}
<main>

  <h2>What's for tea?</h2>

  <p>The kitchen is about what I'm cooking at the moment. You can always reach me here.</p>

  <p>I'm JAMStacking my website with a blog, updated projects, and a new theme. My blog will help supply the kitchen, where I'll dish out the latest about what I'm working on and where I'm heading. </p>

  <h2>Ring me</h2>

  <p>If you'd like to chat over a pint, ring me or drop me a line. You can also find me down the local.</p>

  <ul>
    <li>mobile</li>
    <li>email</li>
    <li>twitter</li>
    <li>github</li>
  </ul>

</main>
{% endblock %}

