{% extends "layouts/base.html" %} {% block page_title %} Kitchen {% endblock %}
{% block main %}
<main>
	<h2>What's for tea?</h2>

	<p>
		The kitchen is about what I'm cooking at the moment. This week, I'm
		JAMStacking my website with a blog, updated projects, and a new theme. My
		blog will help supply the kitchen, where I'll dish out the latest about what
		I'm working on and where I'm heading. You can find me here if you'd like to
		contact me.
	</p>

	<p>
		HTML, CSS, and JavaScript are my clay. Creativity, curiosity, and a sense of
		humor are my allies. Leading and collaborating with teams over the last 20
		years is my experience.
	</p>

	<p>
		Learning is my focus. Finding a web development job that stretches my skills
		is my immediate goal. I probably fit best on the front end, but I'm open to
		all opportunites that expand my knowledge.
	</p>

	<h2>Ring me</h2>

	<p>
		I live in Alexandria, Virginia. If you need a Junior Web Developer (or you'd
		like to chat over a cuppa), ring me or drop me a line.
	</p>

	<ul>
		<li>mobile</li>
		<li>email</li>
	</ul>
</main>
{% endblock %}
