{% extends "layouts/base.njk" %} {% block page_title %} First Floor {% endblock
%} {% block main %}
<main class="mainFirstFloor">
  <h2 class="pageTeaser">Apples and pears lead here</h2>
  <div class="pageIntro">
    <p>
      <a href="https://www.collinsdictionary.com/dictionary/english/apples-and-pears" 
      title="Definition of apples and pears">Stairs</a> lead to the bedrooms on the 
      first floor where I display my latest projects. You can see the projects I'm 
      currently working on in
      <a
        href="../gardenshed"
        title="The garden shed is where I
    tinker on projects"
        >the garden shed</a
      >, and my old projects are stored in the
      <a href="../attic" title="The attic stores my old projects">the attic</a>.
    </p>
  </div>
  <hr />
  <div class="projects1stFloor articlesAll">
    {# All projects have a tags value of either 1stfloor, shed, or attic #} {%
    for project in collections.1stFloor | reverse %} {# _partial works by using
    "project in" instead of using "1stFloor in" #} {% include
    "partials/_projects.njk" %} {%- endfor -%}
  </div>
</main>
{% endblock %}
