{% extends "layouts/base.njk" %} {% block page_title %} Front Room {% endblock%}
{% block main %}
<main class="mainFrontRoom">
  <h2 class="pageTeaser">Fancy a cuppa?</h2>
  <div class="pageIntro">
    <p>
      Welcome to my home. Come on in and explore the rooms in my
      <a
        href="https://dictionary.cambridge.org/dictionary/english/two-up-two-down"
        title="Definition of a two-up two-down"
        >two-up two-down</a
      >
      to see what I've been up to. You are currently in the front room on the
      ground floor. The kitchen is down the hall, and the bedrooms are on the
      first floor upstairs.
    </p>
    <p>
      My front room is your front room. I furnish this space with my latest
      thoughts, largely on software engineering. Tell me your thoughts via my
      contact details below.
    </p>
  </div>
  <hr />

  {% include "partials/_posts.njk" %}
</main>
{% endblock %}
