{% extends "layouts/base.html" %} {% block page_title %} Front Room {% endblock
%} {% block main %}
<main>
	<h2>Fancy a cuppa?</h2>

	<p>
		My front room is your front room. I furnish this space with my latest
		thoughts. Tell me your thoughts via my contact links below.
	</p>

	<div class='posts'>
		{%- for post in collections.post | reverse -%}
		<h3 class="postTitle">{{ post.data.title }}</h3>
		<p class="postContent">{{ post.templateContent }}</p>
		<h4 class="postURL">{{ post.url }}</h4>
		<h4 class="postTags"> {{ post.data.tags }}</h4>
		<h4 class="postDate">{{ post.date }}</h4>
		<h4 class="postModified">{{ post.data.date }}</h4>
		<h4 class="postSlug">{{ post.fileSlug }}</h4>
		{%- endfor -%}
	</div>

</main>
{% endblock %}
