{% extends "layouts/base.njk" %}
{% block page_title %} Kitchen {% endblock %}
{% block main %}
<main class="mainKitchen">
  <h2 class="pageTeaser">What's for tea?</h2>
  <div class="pageIntro">
    <p>
      The kitchen is <strong>about</strong> what I'm cooking at the moment. This
      is where I'll dish out the latest on what I'm doing and where I'm heading.
    </p>
    <p>
      This week, I started a new project:
      <em>monkeyCatRobot forYourFriends</em>. You can read about this project in
      <a
        href="../gardenshed"
        title="The garden shed is where I
      tinker on projects"
        >the garden shed </a
      >or in the
      <a
        href="https://github.com/ThwCorbin/monkeycatrobot"
        title="https://github.com/ThwCorbin/monkeycatrobot"
        >GitHub repo</a
      >. I also recently
      <a href="https://jamstack.org/" title="Information on JAMstack"
        >JAMstacked</a
      >
      my website with a new theme, a blog, and separate pages that display
      completed, working, and archived projects.
    </p>
    <p>
      HTML, CSS, and JavaScript are my cookbooks. Creativity, curiosity, and a
      sense of humor shape my recipes. My experiences leading and collaborating
      with teams over the last twenty-odd years provide seasoning.
    </p>

    <p>
      Learning is my focus. Finding a web development job that stretches my
      skills is my immediate goal. I probably fit best on the front end, but I'm
      open to opportunities that expand my knowledge. If you need a junior web
      developer (or you'd like to chat over a cuppa), contact me via the links
      below.
    </p>
  </div>
  <hr />
</main>
{% endblock %}
