{% extends "layouts/base.njk" %}
{% block page_title %} Kitchen {% endblock %}
{% block main %}
<main class="mainKitchen">

	<h2 class="pageTeaser">What's for tea?</h2>

	<p>
		The kitchen is about what I'm cooking at the moment. This week, I'm
		JAMstacking my website with a blog, updated projects, and a new theme. My
		blog will help supply the kitchen, where I'll dish out the latest about what
		I'm working on and where I'm heading.
	</p>

	<p>
		HTML, CSS, and JavaScript are my cookbooks. Creativity, curiosity, and a
		sense of humor shape my recipes. My experiences leading and collaborating
		with teams over the last twenty-odd years provide seasoning.
	</p>

	<p>
		Learning is my focus. Finding a web development job that stretches my skills
		is my immediate goal. I probably fit best on the front end, but I'm open to
		opportunities that expand my knowledge. If you need a Junior Web Developer
		(or you'd like to chat over a cuppa), contact me via the links below.
	</p>
	<hr>
	
</main>
{% endblock %}
