{% extends "layouts/base.njk" %} {% block page_title %} Kitchen {% endblock %}
{% block main %}
<main class="mainKitchen">
  <h2 class="pageTeaser">What's for tea?</h2>
  <div class="pageIntro">
    <p>

    </p>
    <p>
      My website is based on the floor plan of an English terraced house, which is called a 
      <a href="https://dictionary.cambridge.org/dictionary/english/two-up-two-dow" 
      alt="Definition of a two-up two-down">two-up two-down</a>. The kitchen is <strong>about</strong> 
      who I am and what I'm cooking at the moment.
    </p>

    <p>
      I am a software engineer with 17 years of experience leading teams to
      address customers' needs. After being a stay-at-home dad, I pivoted into
      becoming an engineer, because I thrive when learning new skills and
      finding solutions. I'm now ready for an entry-level position. Please
      contact me via the links below.
    </p>
    <p>
      I recently completed a 12-week immersive software engineering program at
      General Assembly's Washington, DC campus. I learned multiple front end and
      back end technologies, and I applied my new skills developing eight
      applications, which you can see in my portfolio on
      <a
        href="../firstfloor"
        title="The first floor is where I display my latest projects"
        >the first floor</a
      >.
    </p>
    <ul class="kitchen-skills">
      <li>Languages: JavaScript, Python, Node.js, HTML, CSS</li>
      <li>Frameworks: React, Express, Django</li>
      <li>Databases: MongoDB, Mongoose, PostgreSQL, PeeWee</li>
      <li>Testing: Jest, Enzyme</li>
      <li>Tools: Storybook, Git, GitHub, Kanban</li>
    </ul>
  </div>
  <hr />
</main>
{% endblock %}
