<aside class="asideMe">
	<img
		class="imgDaddyO"
		src="/assets/images/daddyO_sqr_min.jpg"
		alt="Tom smiling with his son on his shoulders"
	/>
	<div class="aboutMe">
	<h2 class="myName">Tom Corbin</h2>
	<h3 class="myJob">Web Developer</h3>
	<h4 class="myLocation">Alexandria, Virginia</h4>
	</div>

	<img
		class="imgTwoUpDoor"
		src="/assets/images/two-up-door.svg"
		alt="Terrace house front door"
	/>
</aside>
