<aside class="asideExtra">
	<ul class="mySkills">
		{# <li>JavaScript | HTML | CSS</li>
		<li>Leading and collaborating with teams</li>
		<li>Communicating with internal/external customers</li> #}
	</ul>
</aside>
