<aside class="asideMe">
	<img class="imgDaddyO"
		src="/assets/images/daddyO_sqr_min.jpg"
		alt="Tom smiling with his son on his shoulders"
	/>
	<ul class="myNameJob">
		<li class="myName">Tom Corbin</li>
		<li class="myJob">Web Developer</li>
	</ul>
</aside>
