<aside class="asideMe">
	<img
		class="imgDaddyO"
		src="/assets/images/daddyO_sqr_min.jpg"
		alt="Tom smiling with his son on his shoulders"
	/>
	<h2 class="myName">Tom Corbin</h2>
	<h3 class="myJob">Web Developer</h3>
</aside>
