<footer>
	<img
		src="images/daddyDance_sqr_min.jpg"
		alt="Tom dancing with his son on his shoulders"
	/>
	<nav>
		<ul>
			<li><a href="/">Front Room</a></li>
			<li><a href="/">Kitchen</a></li>
			<li><a href="/">Second Floor</a></li>
			<li><a href="/">Garden Shed</a></li>
			<li><a href="/">Attic</a></li>
		</ul>
		<ul>
			<li><a href="/">email</a></li>
			<li><a href="/">github</a></li>
			<li><a href="/">twitter</a></li>
		</ul>
	</nav>
</footer>
