<footer>
	<img
		src="images/daddyDance_sqr_min.jpg"
		alt="Tom dancing with his son on his shoulders"
	/>
	<nav>
		<ul>
			<li><a href="/frontRoom.html">Front Room</a></li>
			<li><a href="/kitchen.html">Kitchen</a></li>
			<li><a href="/firstFloor.html">First Floor</a></li>
			<li><a href="/gardenShed.html">Garden Shed</a></li>
			<li><a href="/attic.html">Attic</a></li>
		</ul>
		<ul>
			<li><a href="/">email</a></li>
			<li><a href="/">github</a></li>
			<li><a href="/">twitter</a></li>
		</ul>
	</nav>
</footer>
