<footer>
	<img
		class="imgTwoUpDoorSmall"
		src="/assets/images/two-up-door.svg"
		alt="Tom dancing with his son on his shoulders obscured by blue and green tint"
	/>
	<nav class="footerNav">
		<ul class="footerLinks">
			<li class="link frontRoom"><a href="/">FrontRoom</a></li>
			<li class="link kitchen"><a href="/kitchen/">Kitchen</a></li>
			<li class="link firstFloor"><a href="/firstFloor/">1<sup>st</sup>Floor</a></li>
			<li class="link gardenShed"><a href="/gardenShed/">Shed</a></li>
			<li class="link attic"><a href="/attic/">Attic</a></li>
		</ul>
		<ul class="footerContacts">
			<li class="email">
				<a href="mailto:thwcorbin@gmail.com">ThWCorbin@gmail.com</a>
			</li>
			<li class="github"><a href="https://github.com/ThwCorbin">GitHub</a></li>
			<li class="twitter">
				<a href="https://twitter.com/nice_drop">Twitter</a>
			</li>
		</ul>
		<ul class="footerAdverts">
			<li class="eleventy advert"><a href="https://www.11ty.io/">11ty</a></li>
			<li class="nunjucks advert">
				<a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
			</li>
			<li class="netlify advert">
				<a href="https://www.netlify.com/">Netlify</a>
			</li>
		</ul>
	</nav>
</footer>
