<header>
	<h1 class="headerTitle">Tom's Two-up Two-down</h1>
	<nav class="headerNav">
		<ul class="links headerLinks">
			<li class="link frontRoom"><a href="/assets/">FrontRoom</a></li>
			<li class="link kitchen"><a href="/assets/kitchen/">Kitchen</a></li>
			<li class="link firstFloor"><a href="/assets/firstFloor/">1<sup>st</sup>Floor</a></li>
			<li class="link gardenShed"><a href="/assets/gardenShed/">Shed</a></li>
			<li class="link attic"><a href="/assets/attic/">Attic</a></li>
		</ul>
	</nav>
</header>
