<header>
	<h1 class="headerTitle">Tom's Two-up Two-down</h1>
	<nav class="headerNav">
		<ul class="headerLinks">
			<li><a href="/assets/">Front Room</a></li>
			<li><a href="/assets/kitchen/">Kitchen</a></li>
			<li><a href="/assets/firstFloor/">First Floor</a></li>
			<li><a href="/assets/gardenShed/">Garden Shed</a></li>
			<li><a href="/assets/attic/">Attic</a></li>
		</ul>
	</nav>
</header>
