<header>
      <img class="imgFreddieCat" src="images/freddieCat.jpg" alt="Freddie the cat is my copilot">
      <h1>Tom Corbin</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Background</a></li>
          <li><a href="/">Projects</a></li>
          <li><a href="/">Contact</a></li>
          <li><a href="/">Links</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="#connect">Contact</a></li>
        </ul>
      </nav>
      <img src="images/daddyO_sqr_min.jpg" alt="Tom smiling with his son on his shoulders">
      <h1>Tom's Portfolio</h1>
</header>