	<div class='posts'>
		{%- for post in collections.post | reverse -%}
    <article class="postArticle">
		  <h3 class="postTitle">{{ post.data.title }}</h3>
		  {{ post.templateContent }}
			<a class="moreContent" href={{ post.url }}>More...</a>
		  <ul class="postData">
			  {# <li class="postTags"><em>{{ post.data.tags }}</em></li> #}
			  <li class="postDate">{{ post.date }}</li>
			  {# <li class="postModified">{{ post.data.date }}</li> #}
			  {# <li class="postSlug">{{ post.fileSlug }}</li> #}
		  </ul>
    </article>
		{%- endfor -%}
	</div>