<div class="postsFrontRoom">
  {% for post in collections.post | reverse %}
  <article class="postAll postShort">
    <h3 class="postTitle">
      <a href={{ post.url }}>{{ post.data.title }}</a>
    </h3>

    {# {{ page.excerpt }} does not work in _posts.njk, but it does in post.njk #}
    {{ post.templateContent | safe | truncate(200) | trim }}
    <br>
    <a class="moreContent" href="{{ post.url }}"><strong>More</strong></a>
    {#? How do I toggle between "More.." and "Permanlink"? #}
    
    <ul class="postDataShort postData">
      <li class="postDate"><time datetime="{{ post.date.toISOString() }}">{{ post.date | date_dMMMMyyyy }}</li>
      {# <li class="postSlug">{{ post.fileSlug }}</li> #}
      {% for tag in post.data.tags %}
      <li class="postTag">
        <em>#{{ tag }}</em>
      </li>
      {% endfor %}
    </ul>
  </article>
	<hr>
  {%- endfor -%}
</div>
