<article class="projectAllRooms">
  <h3
   class="projectTitle">
    <a href="{{ project.data.link }}">{{ project.data.title }}</a>
  </h3>
  <div class="projectInfo">
    <a class="projectScreenshot" href="{{ project.data.link }}">
      <img
        class="imgProject"
        src="{{ project.data.image }}"
        alt="A project screenshot for {{ project.data.title }}"
      />
    </a>
    {{ project.templateContent | safe }}
    {{ project.date }}
  </div>
</article>
<hr />