<article class="projectAllRooms">
  <h3
   class="projectTitle">
    <a href="{{ project.data.link }}" title="{{ project.data.link }}">{{ project.data.title }}</a>
    {% if project.data.gitlink %}
    <span class="projectGitLink">
      <a href="{{ project.data.gitlink }}" title="{{ project.data.gitlink }}">(repo)</a>
    </span>
    {% endif %}
  </h3>

  <div class="projectInfo">
    {% if project.data.image %}
    <a class="projectScreenshot" href="{{ project.data.link }}" title="{{ project.data.link }}">
      <img
        class="imgProject"
        src="{{ project.data.image }}"
        alt="A project screenshot for {{ project.data.title }}"
      />
    </a>
    {% endif %}
    {{ project.templateContent | safe }}
  </div>
</article>
<hr />